html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 5;
    background-color: #28536B;
    color: #F6F0ED;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 85px;
    padding: 20px;
}

ul {
    list-style-type: none;
    display: flex;
}

a {
    color: aquamarine;
}

li {
    margin: 10px;
}

main {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-padding-top: 250px;
    scroll-behavior: smooth;
}

main section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

section {
    width: 90%;
    height: 90dvh;
    padding: 5%;
    margin: auto;
    position: relative;
    font-size: large;
}

header {
    font-size: 72px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

#welcome {
    height: 80%;
    background-color: #7EA8BE;
    color: #F6F0ED;
}

#skills {
    background-color:#7EA8BE;
}

#contact-me {
    background-color: #28536B;
    color: #F6F0ED;
    height: 20%;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20 20px;
}

.right {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.grid {
    display: grid;
    gap: 25px;
}

.round {
    border-radius: 50%;
}

.icon {
    width: 80px;
    max-height: auto;
    background-color: transparent;
    transition: transform 250ms ease-out;
}

.tree {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.node {
    position: absolute;
    width: 150px;
    height: 150px;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 10px;
}

.icon:hover {
    transform: scale(1.2);
}

.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tree .node:nth-child(2) { transform: rotate(0deg) translate(450px) rotate(-0deg); }
.tree .node:nth-child(3) { transform: rotate(60deg) translate(450px) rotate(-60deg); }
.tree .node:nth-child(4) { transform: rotate(120deg) translate(450px) rotate(-120deg); }
.tree .node:nth-child(5) { transform: rotate(180deg) translate(450px) rotate(-180deg); }
.tree .node:nth-child(6) { transform: rotate(240deg) translate(450px) rotate(-240deg); }
.tree .node:nth-child(7) { transform: rotate(300deg) translate(450px) rotate(-300deg); }

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    outline: hidden;
    padding: 0 20;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 25px;
  border-radius: 10px;
  background-color: black;
  color: white;
  padding: 10px 30px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-button {
    color: white;
    text-decoration: none;
    padding: 20px;
    border-radius: 10px;
    animation-duration: 250ms;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.nav-button:hover {
    animation-name: colorAnim;
}

@keyframes colorAnim {
    0% {
        color: white;
    }
    100% {
        background-color: white;
        color: black;
    }
}

.slide-container {
    width: 100%;
    height: 400px;
    background-color: black;
    position: relative;
}

.slide {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.slide-controller {
    display: inline-block;
    width: 90%;
    text-align: center;
    margin: 0 16px;
    padding: 16px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.left-pointer {
    cursor: pointer;
    float: left;
    color: white;
}

.right-pointer {
    cursor: pointer;
    float: right;
    color: white;
}

.subtitle {
    color: grey
}

.center {
    text-align: center;
}

.fade-in {
    position: relative;
    top: 40%;
    opacity: 1;
    animation-name: fadeInAnim;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1.25s;
}

@keyframes fadeInAnim {
    0% {
        opacity: 0;
    }
    90% {
        top: 40%;
    }
    100% {
        opacity: 1;
    }
}

.liquid-1 {
    position: absolute;
    top: 150px;
    left: 200px;
    background: linear-gradient(45deg, rgb(66, 255, 252) 0%, rgb(212, 212, 212) 100%);
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    aspect-ratio: 1 / 1;
    height: 70%;
    margin: 100px;
    filter: blur(2px);
    animation: liquify-1 15s ease-in-out infinite;
}

.liquid-2 {
    position: absolute;
    bottom: 150px;
    right: 250px;
    background: linear-gradient(45deg, rgb(230, 0, 0) 0%, rgb(212, 212, 212) 100%);
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    aspect-ratio: 1 / 1;
    height: 50%;
    margin: 100px;
    filter: blur(2px);
    animation: liquify-2 14s ease-in-out infinite;
}


@keyframes liquify-1 {
    0% {
        background-size: 100% 100%;
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }

    25% {
        background-size: 300% 150%;
        border-radius: 20% 70% 30% 60% / 60% 40% 70% 30%;
    }

    50% {
        background-size: 100% 100%;
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    
    75% {
        background-size: 150% 300%;
        border-radius: 40% 40% 70% 30% / 20% 70% 30% 60%;
    }

    100% {
        background-size: 100% 100%;
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
}

@keyframes liquify-2 {
    0% {
        background-size: 100% 100%;
        border-radius: 20% 70% 30% 60% / 60% 40% 70% 30%;
    }

    25% {
        background-size: 300% 150%;
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }

    50% {
        background-size: 100% 100%;
        border-radius: 40% 40% 70% 30% / 20% 70% 30% 60%;
    }
    
    75% {
        background-size: 150% 300%;
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }

    100% {
        background-size: 100% 100%;
        border-radius: 20% 70% 30% 60% / 60% 40% 70% 30%;
    }
}