html {
    scroll-behavior: smooth;
}

nav {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 5;
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 50px;
    padding: 20px;
}

ul {
    list-style-type: none;
    display: flex;
}

a {
    color: white;
    padding: 20px;
}

li {
    margin: 10px;
}

main {
    padding-top: 100px;
}

section {
    width: 90%;
    height: auto;
    padding: 50px;
    margin: auto;
}

header {
    font-size: 36px;
}

#welcome {
    background-color: beige;
    height: 500px;
}

#skills {
    background-color:cornsilk;
}

row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.grid {
    display: grid;
    gap: 25px;
}

.round {
    border-radius: 50%;
}

.icon {
    width: 100px;
    height: 100px;
    background-color: white;
    transition: transform 250ms ease-out;
}

.icon:hover {
    transform: scale(1.2);
}

.subtitle {
    color: grey
}

.center {
    text-align: center;
}

.fade-in {
    position: relative;
    top: 40%;
    opacity: 1;
    animation-name: fadeInAnim;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1.25s;
}

@keyframes fadeInAnim {
    0% {
        opacity: 0;
        top: 100%;
    }
    90% {
        top: 40%;
    }
    100% {
        opacity: 1;
        top: 40%;
    }
}